﻿
@{
    Layout = null;
}
<li class="comment-item" style="border-left: 1mm solid rgb(254 221 62/44%); border-bottom-right-radius: 20px 20px; border-top-right-radius: 20px 20px;">
    <div class="post__author author vcard inline-items">
        <img src=@Model.usuario.foto alt="author">

        <div class="author-date">
            <a class="h6 post__author-name fn" href="02-ProfilePage.html">@Model.usuario.nombre</a>

         

                    <div class="post__date">
                        <time class="published" datetime=@Model.fecha>
                            justo ahora
                        </time>

                    </div>
       

        </div>

        <a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg></a>

    </div>

    <p>@Model.contenido</p>

    <a href="#" class="post-add-icon inline-items">
        <i class="fa fa-heart-o"></i>
        <span style="margin-bottom: 0px;">3</span>

    </a>



    @* END REPLY COMENT*@



</li>