﻿
@{
    Layout = null;

    int dias = 0;
    int horas = 0;
    int minutos = 0;
}







@foreach (Publicacion pu in Model.pubs)
{




<div class="post-bar">

    @if (pu.estado == 1)
    {
        <div id="accordion">
            <div class="card">
                <div  id="headingOne">
                
                    
              
                    <h3   role="button" data-toggle="collapse" data-target="#@pu.id" aria-expanded="true" aria-controls="collapseOne" style="    text-align: center;
        background-color: #e1ea0cb8;
        font-style: oblique;
        font-family: fantasy;
        cursor: pointer;
        user-select: none;
    ">

                        CULMINADO  <i class="la la-angellist  fa-spin"></i>
                    
                    </h3>
                </div>

                <div id=@pu.id class="collapse" aria-labelledby="headingOne" data-parent="#accordion" style="background-color: rgb(224 207 51 / 42%);" >



                    <div class="col-lg-12 col-md-12 no-pd">
         

                            
                                
                                    <div class="post_topbar">
                                        <div class="usy-dt">
                                            <img class="rounded-circle" style=" max-width: 50px;max-height: 50px; min-height:50px;min-height:50px" src=@pu.postulaciones[0].usuario.foto alt="" />
                                            <div class="usy-name">
                                                <h3>@pu.postulaciones[0].usuario.nombre</h3>
                                                <span>@pu.postulaciones[0].usuario.perfilProfesional.especialidad</span>
                                            </div>
                                        </div>
                                   
                                    </div>

                                 
                                    <div class="job_descp">


                                        <p>@pu.postulaciones[0].evidencia.descripcion</p>


                                        <div class="post-block-photo js-zoom-gallery">
                                            @if (pu.postulaciones[0].evidencia.fotoEvidencias.Count > 5)
                                            {
                                                <a href=@pu.postulaciones[0].evidencia.fotoEvidencias[0].contenido class="half-width"><img style="height:140px" src=@pu.postulaciones[0].evidencia.fotoEvidencias[0].contenido alt="photo"></a>
                                                <a href=@pu.postulaciones[0].evidencia.fotoEvidencias[1].contenido class="half-width"><img style="height:140px" src=@pu.postulaciones[0].evidencia.fotoEvidencias[1].contenido alt="photo"></a>
                                                <a href=@pu.postulaciones[0].evidencia.fotoEvidencias[2].contenido class="col col-3-width"><img style="height:115px" src=@pu.postulaciones[0].evidencia.fotoEvidencias[2].contenido alt="photo"></a>
                                                <a href=@pu.postulaciones[0].evidencia.fotoEvidencias[3].contenido class="col col-3-width"><img style="height:115px" src=@pu.postulaciones[0].evidencia.fotoEvidencias[3].contenido alt="photo"></a>
                                                <a href=@pu.postulaciones[0].evidencia.fotoEvidencias[4].contenido class="more-photos col-3-width">

                                                    <img style="height:115px" src=@pu.postulaciones[0].evidencia.fotoEvidencias[4].contenido alt="photo">

                                                    <span class="h2">+@(pu.postulaciones[0].evidencia.fotoEvidencias.Count - 5)</span>
                                                </a>
                                                for (int i = 0; i < pu.postulaciones[0].evidencia.fotoEvidencias.Count; i++)
                                                {
                                                    if (i > 4)
                                                    {
                                                        <a href=@pu.postulaciones[0].evidencia.fotoEvidencias[i].contenido> </a>
                                                    }
                                                }
                                            }




                                        </div>

                                    </div>

                             

                          
                       
                    </div>




                            </div>
                        </div>

                    </div>

                
                    }


                    <div class="post_topbar">
                        <div class="usy-dt">
                            <img class="rounded-circle" style=" max-width: 50px;max-height: 50px; min-height:50px;min-height:50px" src=@pu.usuario.foto alt="">
                            <div class="usy-name">
                                <h3>@pu.usuario.nombre @pu.usuario.apellido</h3>
                                @{TimeSpan diferenciaFecha = (Model.fechaActual - pu.fechaCreacion);

                                    Console.WriteLine(Model.fechaActual);
                                    Console.WriteLine(pu.fechaCreacion);
                                    dias = diferenciaFecha.Days;
                                    horas = diferenciaFecha.Hours;

                                    minutos = diferenciaFecha.Minutes;

                                    if (dias == 0 && horas == 0 && minutos == 0)
                                    {
                                        <span><img src="~/SourcesTUMI/images/clock.png" alt="">justo ahora</span>
                                    }
                                    else if (dias > 0)
                                    {

                                        <span><img src="~/SourcesTUMI/images/clock.png" alt="">Hace @dias  dias y @horas h </span>
                                    }
                                    else if (horas > 0)
                                    {


                                        <span><img src="~/SourcesTUMI/images/clock.png" alt="">Hace @horas h y @minutos min </span>

                                    }
                                    else
                                    {



                                        <span><img src="~/SourcesTUMI/images/clock.png" alt="">Hace @minutos min </span>


                                    }





                                }



                            </div>
                        </div>
                        <div class="ed-opts">
                            <a href="#" title="" class="ed-opts-open">
                                <i class="la

                                                                                                     la-ellipsis-v"></i>
                            </a>
                            <ul class="ed-options">
                                <li><a href="#" title="">Edit Post</a></li>
                                <li><a href="#" title="">Unsaved</a></li>
                                <li><a href="#" title="">Unbid</a></li>
                                <li><a href="#" title="">Close</a></li>
                                <li><a href="#" title="">Hide</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="epi-sec">
                        <ul class="descp">

                            <li><img src="~/SourcesTUMI/images/icon8.png" alt=""><span>Logro</span></li>
                            <li><img src="~/SourcesTUMI/images/icon9.png" alt=""><span>Logro</span></li>
                        </ul>
                        <ul class="bk-links">
                            <li><a href="#" title=""><i class="la la-bookmark"></i></a></li>
                            @*<li><a href="#" title=""><i class="la la-envelope"></i></a></li>*@
                        </ul>
                    </div>
                    <div class="job_descp">
                        <h3>"@pu.titulo"</h3>

                        <ul class="job-dt">

                            <li><a href="~/Publicacion/detalle?id=@pu.id" title="">Ver mas</a></li>

                            <li><span> Recaudado: S/@Convert.ToDouble(pu.donaciones.Sum(g => g.monto))</span></li>
                        </ul>
                        @if (pu.descripcion.Length <= 80)
                        {
                            <p>@pu.descripcion</p>
                        }
                        else
                        {
                            <p>@pu.descripcion.Substring(0, 80)...</p>
                        }





                        <div class="post-block-photo js-zoom-gallery">
                            @if (pu.fotos.Count > 5)
                            {
                                <a href=@pu.fotos[0].contenido class="half-width"><img style="height:140px" src=@pu.fotos[0].contenido alt="photo"></a>
                                <a href=@pu.fotos[1].contenido class="half-width"><img style="height:140px" src=@pu.fotos[1].contenido alt="photo"></a>
                                <a href=@pu.fotos[2].contenido class="col col-3-width"><img style="height:115px" src=@pu.fotos[2].contenido alt="photo"></a>
                                <a href=@pu.fotos[3].contenido class="col col-3-width"><img style="height:115px" src=@pu.fotos[3].contenido alt="photo"></a>
                                <a href=@pu.fotos[4].contenido class="more-photos col-3-width">

                                    <img style="height:115px" src=@pu.fotos[4].contenido alt="photo">

                                    <span class="h2">+@(pu.fotos.Count - 5)</span>
                                </a>
                                for (int i = 0; i < pu.fotos.Count; i++)
                                {
                                    if (i > 4)
                                    {
                                        <a href=@pu.fotos[i].contenido> </a>
                                    }
                                }
                            }




                        </div>

                        <ul class="skill-tags">
                            <li><a href="#" title="">Niños</a></li>
                            <li><a href="#" title="">Escuela</a></li>
                            <li><a href="#" title="">Alumbrado</a></li>
                            <li><a href="#" title="">Electrico</a></li>

                        </ul>
                    </div>
                    <div class="job-status-bar">
                        <ul class="like-com">
                            <li>
                                <a style="margin-right: 32px;" href="#"><i class="la la-heart"></i> Like</a>

                                @foreach (ReaccionPublicacion reac in pu.reacciones)
                                {
                                    if (reac.tipo == 0)
                                    {
                                        <span> <img class="rounded-circle" height="30" width="30" src=@reac.usuario.foto alt=""></span>
                                    }


                                }
                                <img src="~/files/fotosPublicaciones/123603957_222736775874400_760790310478950820_n.jpg" />

                                <span>@pu.reacciones.Count(o => o.tipo == 0)</span>
                            </li>

                            <li><a href="#" title="" class="com"><img src="~/SourcesTUMI/images/com.png" alt=""> Comentarios @pu.comentarios.Count</a></li>
                        </ul>
                        <a><i class="la la-eye"></i>@pu.vista</a>
                    </div>
                </div><!--post-bar end-->
}
<div class="process-comm">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div><!--process-comm end-->

